<div class="container cards-container ">
<div class="head text-center py-4 my-0 mb-5">
  <div class="heading my-4">
    <h2><b>Find nearby restaurants</b></h2>
  </div>
  <%= search_form_for @search do |f| %>
    <div class="form-group my-4">
      <%= f.search_field :name_or_location_cont, class: "form-control w-25 m-auto shadow", placeholder: "Search restaurants" %>
    </div>
  <% end %>
</div>
<div class="list text-center my-5">
  <h2><b>Our Restaurants</b></h2>
  <div class="row row-cols-1 row-cols-md-4" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  <% @restos.each do |resto| %>
      <div class="col mb-4">
        <div class="card h-100 small_size" >
          <%= image_tag resto.image.url, class: "card-img-top" %>
          <div class="card-body">
            <h6 class="card-title">
              <%= resto.name %>
            </h6>
            <strong><%= resto.location %></strong>
            <p class="card-text"><%= resto.details %></p>
            <%= link_to "More Details", resto_path(resto), class: "text-orange"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-5 bg-white border rounded text-center shadow-sm p-5">
  <h3><b>How it works?<b></h3>
  <div class="card-deck mt-5">
  <div class="small_image card border-0">
    <%= image_tag ("step1.png"), class: "card-img-top m-auto"%>
    <div class="card-body">
      <h5 class="card-title">Step uno</h5>
      <p class="card-text">Lorem ipsum dolor sit amet <br>consecteur adipisicing elit. <br>sed do eiusmod</p>
    </div>
  </div>
  <div class="small_image card border-0">
    <%= image_tag ("step2.png"), class: "card-img-top m-auto"%>

    <div class="card-body">
      <h5 class="card-title">Step dos</h5>
      <p class="card-text">Lorem ipsum dolor sit amet.<br>consecteur adipising elit.<br>sed do eiusmod.</p>
    </div>
  </div>
  <div class="small_image card border-0">
    <%= image_tag ("step3.png"), class: "card-img-top m-auto"%>

    <div class="card-body">
      <h5 class="card-title">Step tres</h5>
      <p class="card-text">Lorem ipsum dolor sit amet.<br>consecteur adipisicing elit,<br>sed do eiusmod.</p>
    </div>
  </div>
</div>
</div>

<div class="last bg-orange">
  <div class="row featurette">
    <div class="col-md-6 phone">
      <%= image_tag ("phone.png")%>
    </div>
    <div class="col-md-6 d-block py-5 bottom">
      <h1>Get the app</h1>
      <p>Lorem ipsum dolor sit amet.<br>consecteur adipisicing elit,<br>sed do eiusmod.</p>
      <button class="btn btn-light btn-sm text-orange">Submit</button>
    </div>
  </div>
</div>
